<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Midlertidig Bruker For Trådløst Nettverk på Chateau Neuf - {{log.id}}</title>
        <style type="text/css">
            @page {
                size: {{ pagesize }};
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Midlertidig Bruker For Trådløst Nettverk på Chateau Neuf</h1>
            Brukernavn: {{log.username}}<br />
            Passord: {{ log.password }}<br />
            Utstedt: {{ log.created }}<br />
            Gyldig til: {{ log.expires }}<br />
            <!-- LOGO -->
        </div>
        <div id="footerContent">
            {% block page_foot %}
                Page <pdf:pagenumber>
            {% endblock %}
        </div>
    </body>
</html>
