{% extends "base.html" %}

{% block content %}
<h2>Liste over midlertidige brukere</h2>
<p>
<table id="user_list">
  <tr>
    <th>Produsert</th>
    <th>Produsert av</th>
    <th>For hvem/Hvorfor</th>
    <th>Gyldig til og med</th>
    <th>Antall</th>
    <th>Skriv ut</th>
  </tr>
{% for user in users %}
  <tr>
    <td>{{ user.created }}</td>
    <td>{{ user.issued_by }}</td>
    <td>{{ user.description }}</td>
    <td>{{ user.expires|date:"DATE_FORMAT" }}</td>
    <td>{{ user.count }}</td>
    <td><a href="{% url download_pdf tempuserlog_id=user.id %}"><img src="{{STATIC_URL}}standard/images/printer.png" class="list" /></a></td>
  </tr>
{%endfor %}
</table>
<a href="deleted">Vis utgåtte ...</a>
</p>
<a href="{% url system %}" class="btn">« Gå tilbake</a>

{% endblock %}
