{% extends "base.html" %}

{% block content %}
<h2>Liste over midlertidige brukere</h2>
<p>
<table>
  <tr>
    <th>Produsert</th>
    <th>Produsert av</th>
    <th>For hvem</th>
    <th>Utgår</th>
    <th>PDF</th>
  </tr>
{% for user in object_list %}
  <tr>
    <td>{{ user.created }}</td>
    <td>{{ user.issued_by }}</td>
    <td>{{ user.who }}</td>
    <td>{{ user.expires|timeuntil}}</td>
    <td><a href="{% url download_pdf tempuserlog_id=user.id %}">PDF-icon</a></td>
  </tr>
{%endfor %}
</table>
<a href="deleted">Vis utgåtte ...</a>
</p>
<a href="{% url system %}" class="btn">« Tilbake</a>

{% endblock %}
